<h1 class="titleGeneral">¡Bienvenido, Piloto!</h1>

<p class="paragraphGeneral">Aquí tienes el equipo de soporte que necesitas antes de despegar. Explora nuestra suite de herramientas diseñadas para darte la ventaja competitiva en combate. Selecciona una opción a continuación para empezar y mantente atento: ¡nuestra base de ingeniería está preparando nuevas funciones para tu próxima misión!</p>


<div class="toolsBox">
    <div routerLink="/squad-tool" class="toolsBox-tool toolSquad">
        <div class="toolsBox-tool-text">
            <h2>SQUAD Tool</h2>
            <p>Gestiona y organiza tu escuadrón con facilidad.</p>
        </div>
    </div>

    <div routerLink="/level-calculator" class="toolsBox-tool toolLevelCalc">
        <div class="toolsBox-tool-text">
            <h2>Calculadora de Nivel</h2>
            <p>Calcula las piezas y plata necesarias para subir de nivel tu avión.</p>
        </div>
    </div>

    <div class="toolsBox-tool prox">
        <div class="toolsBox-tool-text">
            <h2>Próximamente</h2>
            <p>Estamos trabajando en nuevas calculadoras y bases de datos. ¡Vuelve pronto!</p>
        </div>        
    </div>
    
</div>